.sucesso {
  background-color: rgb(210, 255, 186);
  width: 100%;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 63, 3);
  font-weight: bold;
  font-size: 1.1em;
}

.deletado {
  background-color: bisque;
  width: 100%;
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.erro {
  background-color: rgb(255, 126, 126);
  width: 100%;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(105, 0, 0);
  font-weight: bold;
  font-size: 1.1em;
}