.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 37em;
  max-height: none;
  background-color: rgb(250, 250, 250);
}

.start {
  justify-content: flex-start;
}

.colum {
  flex-direction: column;
  justify-content: flex-start;
}