.container {
  padding: 20px;
  
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgb(238, 191, 191);
}

.start {
  justify-content: flex-start;
}

.colum {
  flex-direction: column;
  justify-content: flex-start;
}