.lista {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 10px 20px;
  background-color: #1c1c1c;
}

.navBar {
  display: flex;
  align-items: center;
  
}

.items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
  align-items: center;
}

.item {
  font-weight: bold;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a:hover {
  color: #deb212;
}
